

	@import "../varebiles";
@import "../mixin";

	.banner{
		background-image:url(../img/header-banner-img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	position: relative;

	}
	.header-burger{
		display: none;
	}
	.header-row{
		top: 0;
		left: 0;
		height: 100%;
	}
	.banner:before{
		background: #252B49;
		width:100%;
		height:100%;
		content: "";
		display: block;
		position: absolute;
		opacity: 0.8;
		z-index: 2;
	}
	.wrapper{
		@include wrapper;
				z-index: 3;
				position: relative;

	}
	.header-container{
		display:flex;
		padding: 36px 0 32px;
		justify-content:space-between;
			}
	.header-nav{
		display:flex;
		&_item{
			@include nav-font;
			padding:6.5px 20px;
		}
	}
	.header-nav_item_link{
		text-align: center;
		display: block;
		text-decoration: none;
		color: #FFFFFF;
	}
	.header-separator{
		display: block;
		width:100%;
		height:1px;
		background:#BABBC5;
	}
	.header-banner{
		padding: 130px 0 120px;
		transition: 0.3s;
			&_title{
				@include header-banner-h1;
				padding:0 55px;

			}
			&_description{
				@include header-banner-description;
				padding: 31px 137px 82px;
			}
			&_button{
				margin:0 auto;
				text-align: center;
				max-width: 369px;
				transition: 0.3s;
				& a{
					@include header-button;
					padding: 20px 0;
					display: block;
				}
			}

	}

	.header-nav_item{
		position: relative;
		width: 134px;
		transition: 0.3s;
	}

	.header-nav_item_link:hover::after{
		content: "";
		background: #BABBC5;
		height: 3px;
		width: 134px;
		top:54px;
		left:-18px;
		position: absolute;
	}
	.header-nav_item_link{
		position: relative;
		transition: 0.3s;
		width: 100%;
	}

	.header-nav_item_link:active {
		color: $hover-color;
	}

		.header-nav_item_link:active::after{
		content: "";
		background: $hover-color;
		height: 3px;
		width: 134px;
		top:54px;
		left:-18px;
		position: absolute;
	}

	.header-banner_button a:hover{
		background: $hover-color;
	}

	.header-banner_button a:active{
		background: $main-color;
box-shadow: 4px 4px 30px $main-color;
	}

@media (max-width: 1024px) {
	.wrapper{
		@include wrapper-tab;
	}
	.header-nav_item{
		width:112px;
		padding: 6.5px 0;
	}
	.header-nav_item_link:active::after{
		width:112px;
		left:0px;
	}
	.header-nav_item_link:hover::after{
		width:112px;
		left:0px;
	}
	.header-nav_item{
		@include nav-font-tab;
	}
	.header-banner_title{
		@include header-banner-h1-tab;
	}
	.header-banner{
		padding: 157px 0 126px;
	}
	.header-banner_description{
		@include header-banner-description-tab;
		padding: 61px 110px 91px;
	}
	.header-banner_button{
		max-width: 313px;
	}

}


@media (max-width: 782px){

.header-nav_item{
	width: 100px;
}
.header-banner{
	padding: 50px 0 50px;
}
}

@media (max-width: 768px) {
	.header-burger{
		display: block;
		position: relative;
		width: 24px;
		height: 18px;
	}
	.header-burger:before,
	.header-burger:after{
		content: "";
		background: #FFFFFF;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: 0.3s;
	}
	.header-burger span{
		width:100%;
		background-color: #FFFFFF;
		height: 2px;
		position: absolute;
		left: 0;
		top: 8px;
		transition: 0.3s;
	}
	.header-burger.active:before{
		transform:rotate(45deg);
		top: 8;
	}
	.header-burger.active:after{
		transform:rotate(-45deg);
		bottom: 8;
	}
	.header-burger.active span{
		transform:scale(0);
	}
	.header-burger:before{
		top: 0;
	}
	.header-burger:after{
		bottom: 0;
	}
	.header-separator{
		display: none;
}
.header-row{
		padding: 50px 0 0;
		position: absolute;
		top:-100%;
		transition: 0.4s;
	}
	.header-nav{
		flex-direction: column;
	}
	.header-row.active{
		top:50;
		z-index: 10;
		width: 100%;
	}
	.header-banner.active{
		opacity: 0;
	}
	.header-nav_item{
		width: 100%;
		padding: 0;
	}
	.header-nav_item_link{
		text-align: left;
		padding: 22px 20px;
	}
	.header-nav_item_link:active{
		color: none;
	}
	.header-nav_item_link:active::after{
		height: 0;
	}
	.header-nav_item_link:hover::after{
		height: 0;
	}
}


@media (max-width: 320px){
	.header-burger{
		display: block;
		position: relative;
		width: 24px;
		height: 18px;
	}
	.header-burger:before,
	.header-burger:after{
		content: "";
		background: #FFFFFF;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: 0.3s;
	}
	.header-burger span{
		width:100%;
		background-color: #FFFFFF;
		height: 2px;
		position: absolute;
		left: 0;
		top: 8px;
		transition: 0.3s;
	}
	.header-burger.active:before{
		transform:rotate(45deg);
		top: 8;
	}
	.header-burger.active:after{
		transform:rotate(-45deg);
		bottom: 8;
	}
	.header-burger.active span{
		transform:scale(0);
	}
	.header-burger:before{
		top: 0;
	}
	.header-burger:after{
		bottom: 0;
	}
	.header-separator{
		display: none;
}
	.header-row{
		/* display: none;
 */	}
	.header-container{
		padding: 21px 0 0;
		flex-wrap: wrap;
	}
	.header-logo img{
		height: 14.7px;
	}
	.header-banner_title{
		@include header-banner-h1-ph;
		padding: 0;
	}
		.header-banner{
		padding: 70px 0 52px;
	}
		.header-banner_description{
		@include header-banner-description-ph;
		padding: 32px 0 51px;
	}
		.header-banner_button{
		max-width: 313px;
	}
	.header-row{
		padding: 50px 0 0;
		position: absolute;
		top:-100%;
		transition: 0.4s;
	}
	.header-nav{
		flex-direction: column;
	}
	.header-row.active{
		top:50;
		z-index: 10;
	}
	.header-banner.active{
		opacity: 0;
	}
	.header-nav_item{
		width: 100%;
		padding: 0;
	}
	.header-nav_item_link{
		text-align: left;
		padding: 22px 20px;
	}
	.header-nav_item_link:active{
		color: none;
	}
	.header-nav_item_link:active::after{
		height: 0;
	}
	.header-nav_item_link:hover::after{
		height: 0;
	}
	.banner{
			min-height: 574;
	}
}